<p style="color: green"><%= notice %></p>
<p style="color: red"><%= flash[:alert] %></p>

<h1>Login</h1>

<div class="align-right">
	
	<%= link_to "SignUp", '/user' %>

</div>


<%= form_with url: '/sign_in' do |form| %>
  

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field	 :email %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.submit "Sign In" %>
  </div>
<% end %>
