<h1>Employee Profile</h1>
<%= render "shared/menu" %>
<h2>Employee first details</h2>

<%= link_to "Add", new_book_path %>


<%#= render partial: "" locals: { employee: @employee } %>

<% @employees.each  do |employee| %>
Name : <%= employee.name %><br>
Age : <%= employee.age %><br>
Salary : <%=employee.salary%><br><br>
<% end %>
