
		<div >
			<a href="/home/index">Home</a>
		</div>

		<%= form_with url: "/employee/create", method: :get do |form| %>
		  <%= form.label :ename, "Employee Name" %><br>
		  <%= form.text_field :ename %><br><br>
		  <%= form.label :age, "Age" %><br>
		  <%= form.text_field :age %><br><br>
		  <%= form.label "Gender" %><br>
		  <%= form.radio_button :gender, "male" %>
		  <%= form.label :gender_male, "Male" %>
		  <%= form. radio_button :gender, "female" %>
		  <%= form.label :gender_female, "Female" %><br><br>
		  <%= form.label :salary, "Salary" %><br>
		  <%= form.text_field :salary %><br><br>
		  <%= form.label :department_id, "Department id" %><br>
		  <%= form.text_field :department_id %><br><br>
		  <%= form.button "Submit" %> <br><br><br>

		  <%= form.label :other, "Other Fields" %>

		  <%=	form.hidden_field :parent_id, value: "Foo" %>
		  <%= form.password_field :password %>




		<% end %>





	<!-- 	<form action="/employee/create">

			<div>
				<label for="ename"> Employee Name :</label><br>	
				<input type="text" name="ename" id="ename" ><br><br>
				<label for="age"> Age :</label><br>
				<input type="text" name="age" id="age" ><br><br>
				<label for="salary"> Salary :</label><br>
				<input type="text" name="salary" id="salary" ><br><br>
				<label for="dept"> Department id :</label><br>
				<input type="text" name="department_id" id="department_id" ><br><br>
				<input type="submit">
				
			</div>

		</form> -->
		
