<h1> All  Articles </h1>
<%= notice %>
<%= form_with url: "article/search" do |form| %>
  <%= form.label :search, "Search" %>
  <%= form.text_field :search %>
  <%= form.submit "Search", class: 'search_article'%>
<% end %>


<div>
	<% if @articles.count ==0 %>
	  No Article Present
	<% else %>
	  <% @articles.each do |article| %>
	      <%= render article %>
	  
	        <%= link_to "Edit", edit_article_path(article) %>
	       <!--  <%= button_to "Delete",article, method: :delete %> -->
	      
	  <% end %>
	<% end %>
	<br>

	<%= link_to "New Article", new_article_path	 %>
	



</div>
